* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 2rem;
}

.nav-list {
    display: flex;
    margin-block: 2rem;
    padding: 1rem;
    gap: 2rem;
    overflow-x: auto;
    list-style-type: none;
    background-color: #f0f8ff;
}

.nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: max-content;
}

.nav-link {
    text-decoration: none;
}

.box {
    text-align: center;
    border: 2px solid black;
}

.thumbnail {
    margin-block: 2rem;
    border: 2px solid black;
}

.thumbnail-wrap {
    min-height: 30rem;
    background: url(https://picsum.photos/200);
    background-size: cover;
    background-position: cover;
}