h2 {
    color: #333;
    border-bottom: 2px solid #333;
}

.external-style {
    color: purple;
    font-size: 16px;
}

.container p {
    background-color: #e0e0e0;
    padding: 5px;
}a:hover {
    color: red;
    text-decoration: none;
}