*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid{
    margin: 2vi;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    border: 2px solid rgb(54, 47, 39) ;
}

.grid div{
    align-content: center;
    text-align: center;
    border: 2px solid rgb(54, 47, 39) ;
}

.grid .head{
    background-color: rgb(54, 47, 39);
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid img{
    width: 40vw;
}