.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(3, 1fr );
    gap: 15px;
}
.grid-cell{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    background-color: beige;
    font-size: 35px;
}