*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: black;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 20px 30px;
    align-content: center;  
    border-radius: 30px;  
}

.navbar img{
    height: 22px;
}
.navbar a{
    color: azure;
    text-decoration: none;
}

.navbar a:hover{
    cursor:click ;
    color: tomato;
}

.navbar ul{
    overflow: auto;
    margin: 20px 40px;
}

.navbar li{
    margin: 2px 20px;
    float: right;
    list-style: none;
}

.container{
    display: flex;
    flex:1;
    margin: 3%;
    justify-content: space-around;
}

.container div{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 25%;
    padding: 5%;
    border: 2px solid rgb(0, 0, 0);
}

.container div::selection{
    background-color: aquamarine;
}


footer{
    padding: 15px;
    background-color: black;
    color: bisque;
    align-content: center;
}


@media (min-width: 768px) and (max-width: 1024px){
    .container{
        flex-wrap: wrap;
    }
    .tab{
        flex: 1 1;
        width: 48%;
    }
    .tab:nth-child(3){
        flex:100%;
    }
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        min-height: 1440px;
        justify-items: stretch;
    }
    .container div{
        flex: 1 1;
        width: 90%;
    }
}