.para1{
    color: blue;
    font-size: 20px;
}

.para2{
    color: red;
    font-size: 35px;
}

.para3{
    color: green;
    font-size: 48px;

}

h1{
    color: red;
    font-size: 56px;
}

h2{
    color: pink;
    font-size: 35px;
}

h3{
    color: yellow;
    font-size: 24px;
}