.section {
    background-color: aqua;
    width: 300px;
    margin: 35;
    padding: 20px;
}
.section p {
    color: red;
}

.section span{
    background-color: blue;
    color: white;
    padding: 10px;
}

.nav-menu {
    
    margin: 25px;
}

.nav-menu li {

    display: inline;
    margin-right: 20px;
    padding: 5px;
}

.nav-menu a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.nav-menu a:hover {
    color: red;
}