.Origins{
    font-size: x-large;
    font-family: cursive;
    /* background-color: aliceblue; */

}

.History{
    font-size: x-large;
    font-family: monospace;
    /* background-color: aliceblue; */
}

.T20leagues{
font-size: x-large;
    font-family: serif;
    /* background-color: aliceblue;*/
} 